/* ---------- Fonts ---------- */

@font-face {
    font-family: "Syne";
    src: url("fonts/Syne-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Geist Mono";
    src: url("fonts/GeistMono-VariableFont.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
}

/* ---------- Base ---------- */

body {
    margin: 0;
    background: #FDFBD4;
    color: #111;

    font-family: "Geist Mono", monospace;
    font-size: 20px;
    line-height: 1.75;
}

/* ---------- Headings ---------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Syne", sans-serif;
    font-weight: 700;
}